<ion-content>
  <div class="center ion-padding section section--full">
    <!-- splash section -->
    <div
      class="section section--introduction"
      *ngIf="!isLogoTapped"
      (click)="handleTapClick()"
    >
      <div class="section section--introduction-image">
        <img
          class="img img--hiapp-center"
          src="assets/registration/sentragro-icon.png"
          alt="Hi App logo"
        />
      </div>

      <div class="section section--introduction-text">
        <h4 class="text text--s">Tap the screen to register</h4>
      </div>
    </div>

    <!-- started section -->
    <div class="section section--agreement" *ngIf="isLogoTapped && !isStarted">
      <div class="section section--agreement-title">
        <h3 class="text text--l">
          Welcome to <span class="color--primary">Hi App!</span>
        </h3>
      </div>

      <div class="section section--agreement-image">
        <img
          class="img img--hiapp-center"
          src="assets/registration/sentragro-icon.png"
          alt="Hi App illustration"
        />
      </div>

      <div class="section section--agreement-text">
        <p class="text text--xs">
          By signing up, you agree to the
          <span class="color--primary" (click)="handlePrivacyClick()"
            >Privacy</span
          >
          and
          <span class="color--primary" (click)="handleToSClick()"
            >Terms of Service</span
          >. Tap "Agree and continue"
        </p>
      </div>

      <div class="section section--button">
        <ion-button
          shape="round"
          expand="block"
          class="btn btn--agreement text text--l"
          (click)="handleStartedClick()"
          >GET STARTED</ion-button
        >
      </div>
    </div>

    <!-- verify section -->
    <div
      class="section section--verify"
      *ngIf="isStarted && !isVerificationCodeSent"
    >
      <div class="section section--title">
        <h3 class="text text--l">
          Verify your mobile number
        </h3>
        <p class="text text--s">Please enter your mobile number</p>
      </div>
      <div class="section section--group section--group-phone">
        <img
          class="img img--hiapp-phone"
          src="../../assets/icon/icon_phone.svg"
          alt="icon phone"
        />
        <p class="text text--s">Your mobile number</p>
      </div>
      <div class="section section--group section--group-flag">
        <img
          class="img img--hiapp-flag"
          src="../../assets/icon/icon_flag.svg"
          alt="icon flag"
        />
        <p class="text text--s">(ID) +62</p>
        <div class="input-wrapper">
          <input
            type="number"
            placeholder="0812179410063"
            value="number"
            [(ngModel)]="phoneNumber"
          />
        </div>
      </div>

      <div class="section section--verify-text">
        <p class="text text--xs">* Carrier SMS charges may apply.</p>
      </div>

      <div class="section section--button">
        <ion-button
          shape="round"
          expand="block"
          class="btn btn--next text text--l"
          (click)="handleNextClick()"
          [disabled]="!phoneNumber"
          >NEXT</ion-button
        >
      </div>
    </div>

    <!-- verification section -->
    <div
      class="section section--verification"
      *ngIf="isVerificationCodeSent && !isRegistrationCompleted"
    >
      <div class="section section--title">
        <h3 class="text text--l">
          Verification code sent!
        </h3>
        <p class="text text--s">
          We have sent you an SMS with an activation code to your phone
        </p>
      </div>

      <div class="section section--group section--group-edit">
        <p class="text text--m">+62 {{phoneNumber}}</p>
        <img
          class="img img--hiapp-edit"
          src="../../assets/icon/icon_edit.svg"
          alt="icon edit"
        />
        <p
          class="text text--s color--primary"
          (click)="handleEditPhoneNumber()"
        >
          Edit number
        </p>
      </div>

      <div class="section section--input-verification">
        <input
          type="number"
          value="number"
          maxlength="6"
          pattern="[0-9]*"
          [(ngModel)]="verificationCode"
          (keyup)="handleVerificationCode($event)"
          onkeypress="if(this.value.length >= 6) return false;"
        />
      </div>

      <div class="section section--countdown">
        <div *ngIf="seconds > 9">0{{minutes}}:{{seconds}}</div>
        <div *ngIf="seconds < 10">0{{minutes}}:0{{seconds}}</div>
      </div>
      <div class="section section--resend">
        <p class="text text--s">Did not received the code</p>
        <!-- isButtonResendActive -->
        <p
          *ngIf="isButtonResendActive"
          class="text text--s color--primary"
          (click)="handleResendCode()"
        >
          Resend code
        </p>
        <p *ngIf="!isButtonResendActive" class="text text--s color--dark">
          Resend code
        </p>
      </div>
    </div>

    <!-- newUser section -->
    <div
      class="section section--verification"
      *ngIf="isRegistrationCompleted && isNewUser"
    >
      <div class="section section--title">
        <h3 class="text text--l">
          Here we go!
        </h3>
        <p class="text text--s">
          Please provide your name and an optional profile photo.
        </p>
      </div>

      <div class="section section--profile">
        <img
          (click)="handleProfilePicture()"
          class="img img--hiapp-phone"
          src="../../assets/icon/icon_profile.svg"
          alt="icon profile"
        />
      </div>

      <div class="section section--group section--group-profile-name">
        <img
          class="img img--hiapp-phone"
          src="../../assets/icon/icon_profile2.svg"
          alt="icon profile"
        />
        <p class="text text--s">Type your name here</p>
      </div>

      <div class="section section--group section--group-profile-name-input">
        <div class="input-wrapper">
          <input
            type="text"
            placeholder="Hi App Community"
            [(ngModel)]="profileName"
          />
          <img
            class="img img--hiapp-phone"
            src="../../assets/icon/icon_emoji.svg"
            alt="icon emoji"
          />
        </div>
      </div>

      <div class="section section--button">
        <ion-button
          (click)="handleStartMessaging()"
          shape="round"
          expand="block"
          class="btn btn--next text text--l"
          ([ngModel])="profileName"
          [disabled]="!profileName"
          >START MESSAGING</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
