.section {
  position: relative;

  input {
    border: none;
    outline: none;
  }
}

.text {
  margin: 0;
}

.text--xs {
  font-size: 0.6875rem;
  letter-spacing: 0.028rem;
}

.text--s {
  font-size: 0.875rem;
  letter-spacing: 0.036rem;
}

.text--m {
  font-size: 1rem;
  letter-spacing: 0.041rem;
}

.text--l {
  font-size: 1.125rem;
  letter-spacing: 0.046rem;
}

.section--full {
  height: 100vh;
}

.color--primary {
  color: var(--ion-color-primary);
}
.color--disable {
  color: var(--ion-color-dark);
}

.section--introduction,
.section--agreement,
.section--verify,
.section--verification {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section--introduction-image {
  height: 100%;
}

.section--introduction-text,
.section--button {
  margin-top: auto;
}

.section--agreement-text {
  align-self: center;
  width: 80%;
}

.img--hiapp-center {
  bottom: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.section--title {
  p {
    margin: 0.875rem auto 0;
    width: 80%;
  }
}

.section--group {
  align-items: center;
  display: flex;
  justify-content: center;

  img {
    height: 100%;
  }
}

.section--group-phone {
  margin-top: 2.75rem;

  img {
    margin-right: 1.25rem;
  }
}

.section--group-flag {
  margin-top: 1.5rem;

  img,
  p,
  .input-wrapper {
    padding-bottom: 0.375rem;
  }

  img {
    margin-right: 0.25rem;
  }

  .input-wrapper {
    border-bottom: 1px solid #e1e4e8;
    margin-left: 0.5625rem;
    text-align: left;
    width: 50%;
  }
}

.section--verify-text {
  margin-top: 2.625rem;
}

.section--group-edit {
  margin-top: 2.0625rem;

  p {
    &:first-of-type {
      margin-right: 0.875rem;
    }

    &:last-of-type {
      margin-left: 0.3125rem;
    }
  }
}

.section--input-verification {
  margin-top: 3.125rem;

  $char-w: 1ch;
  $n-char: 6;
  $gap: ($n-char / 10) * $char-w;
  $in-w: $n-char * ($char-w + $gap);

  input {
    background: repeating-linear-gradient(
        90deg,
        dimgrey 0,
        dimgrey $char-w,
        transparent 0,
        transparent $char-w + $gap
      )
      0 100% / #{$in-w - $gap} 2px no-repeat;
    align-self: center;
    font-size: 3ch;
    letter-spacing: (($n-char + 1) * $char-w) / 10;
    margin: 0 auto;
    width: $in-w;

    &:focus {
      color: var(--ion-color-primary);
    }
  }
}

.section--resend {
  margin-top: 2rem;

  p {
    &:last-of-type {
      margin-top: 0.5rem;
    }
  }
}

.section--countdown {
  margin-top: 2rem;

  p {
    &:last-of-type {
      margin-top: 0.5rem;
    }
  }
}

.section--group-profile-name {
  img {
    margin-right: 0.25rem;
  }
}

.section--group-profile-name-input {
  margin-top: 0.5rem;

  .input-wrapper {
    position: relative;
    border-bottom: 1px solid #e1e4e8;
    padding-bottom: 0.375rem;
  }
}

@media screen and (orientation: landscape) {
  .section--introduction-text {
    margin-bottom: 0.5rem;
  }

  .section--agreement-image {
    height: 65%;
  }

  .section--profile {
    img {
      margin-top: 1.21875rem;
    }
  }

  .section--group-profile-name {
    margin: 0.75rem auto 0 0;
    width: 84%;
  }
}

@media screen and (orientation: portrait) {
  .section--agreement,
  .section--verify,
  .section--verification {
    padding: 4.03125rem 0 3.03125rem;
  }

  .section--agreement-image {
    height: 100%;
  }

  .section--introduction-text {
    margin-bottom: 1rem;
  }

  .btn--agreement {
    margin-top: 2rem;
  }

  .section--profile {
    img {
      margin-top: 2.4375rem;
    }
  }

  .section--group-profile-name {
    margin: 1.5rem auto 0 0;
    width: 70%;
  }
}
