<ion-header>
  <ion-toolbar>
    <ion-title>contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img
            src="./assets/images/default-ava.png"
            onError="this.src='./assets/images/default-ava.png'"
          />
        </ion-avatar>
        <ion-label>
          <ion-text>
            <h2>New Group</h2>
          </ion-text>
        </ion-label>
      </ion-item>
    </div>
    <div>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img
            src="./assets/images/default-ava.png"
            onError="this.src='./assets/images/default-ava.png'"
          />
        </ion-avatar>
        <ion-label>
          <ion-text>
            <h2>New Contact</h2>
          </ion-text>
        </ion-label>
      </ion-item>
    </div>
    <div>
      <ion-item>
        <ion-avatar slot="start">
          <img
            src="./assets/images/default-ava.png"
            onError="this.src='./assets/images/default-ava.png'"
          />
        </ion-avatar>
        <ion-label>
          <ion-text>
            <h2>New Broadcast</h2>
          </ion-text>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
  <!-- list of phone contact -->
  <ion-list lines="none" *ngIf="friendContacts && friendContacts.length > 0">
    <ion-item
      *ngFor="let contact of friendContacts;"
      (click)="message(contact.userId); $event.stopPropagation();"
    >
      <ion-avatar slot="start">
        <img
          src="{{contact.img}}"
          onError="this.src='./assets/images/default-ava.png'"
        />
      </ion-avatar>
      <ion-label>
        <ion-text>
          <h2>{{contact.name}}</h2>
        </ion-text>
        <ion-text>
          <p>{{contact.phoneNumber}}</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
