<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="paper-plane"></ion-icon>
      <ion-label>Produk</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>Petani</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="pricetag"></ion-icon>
      <ion-label>Keuangan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="paper-plane"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="barcode"></ion-icon>
      <ion-label>Penjualan</ion-label>
    </ion-tab-button>
    <!--
    <ion-tab-button tab="tab6">
      <ion-icon name="people"></ion-icon>
      <ion-label>Friends</ion-label>
      <ion-badge *ngIf="friendRequestCount != null"
        >{{friendRequestCount}}</ion-badge
      >
    </ion-tab-button> -->

    <ion-tab-button tab="tab7">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Setting</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
