<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail petani</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="alertDelete()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="farmer-img" *ngIf="farmer">
    <img src="{{farmer.img}}" tappable (click)="setPhoto()" />
  </div>
  <div class="farmer-ktp" *ngIf="farmer">
    <img src="{{farmer.ktp}}" tappable (click)="setPhotoKTP()" />
  </div>

  <form *ngIf="farmer" [formGroup]="myForm">
    <ion-list>
      <!-- farmer farmer_name -->
      <ion-item>
        <ion-label position="stacked">Nama Produk</ion-label>
        <ion-input
          type="text"
          formControlName="farmer_name"
          [(ngModel)]="farmer.farmer_name"
          placeholder="Masukkan nama"
        ></ion-input>
        <div *ngFor="let validation of errorMessages.farmer_name">
          <p
            class="error"
            *ngIf="myForm.get('farmer_name').hasError(validation.type) && (myForm.get('farmer_name').dirty || myForm.get('farmer_name').touched || submitAttempt) "
          >
            {{validation.message}}
          </p>
        </div>
      </ion-item>
      <!-- farmer phoneNumber -->
      <ion-item>
        <ion-label position="stacked">Nomer Telpon/WA</ion-label>
        <ion-input
          formControlName="phoneNumber"
          type="text"
          [(ngModel)]="farmer.phoneNumber"
          placeholder="Masukkan kategori"
        >
        </ion-input>
        <div *ngFor="let validation of errorMessages.phoneNumber">
          <p
            class="error"
            *ngIf="myForm.get('phoneNumber').hasError(validation.type) && (myForm.get('phoneNumber').dirty || myForm.get('phoneNumber').touched || submitAttempt) "
          >
            {{validation.message}}
          </p>
        </div>
      </ion-item>
      <!-- farmer price -->
      <!-- farmer plantation -->
      <ion-item>
        <ion-label position="stacked">Jenis tanaman</ion-label>
        <ion-textarea
          formControlName="plantation"
          [(ngModel)]="farmer.plantation"
          placeholder="Masukkan manfaat dari produk"
        >
        </ion-textarea>
        <div *ngFor="let validation of errorMessages.plantation">
          <p
            class="error"
            *ngIf="myForm.get('plantation').hasError(validation.type) && (myForm.get('plantation').dirty || myForm.get('plantation').touched || submitAttempt) "
          >
            {{validation.message}}
          </p>
        </div>
      </ion-item>
      <!-- farmer address -->
      <ion-item>
        <ion-label position="stacked">Alamat</ion-label>
        <ion-textarea
          formControlName="address"
          [(ngModel)]="farmer.address"
          placeholder="Masukkan kandungan pada produk"
        >
        </ion-textarea>
        <div *ngFor="let validation of errorMessages.address">
          <p
            class="error"
            *ngIf="myForm.get('address').hasError(validation.type) && (myForm.get('address').dirty || myForm.get('address').touched || submitAttempt) "
          >
            {{validation.message}}
          </p>
        </div>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-button expand="full" (click)="save()">Simpan Produk</ion-button>
</ion-footer>
