<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Data petani baru</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="!isFarmerUploaded" [formGroup]="myForm">
    <ion-list>
      <!-- farmer_name -->
      <ion-item>
        <ion-label position="stacked">Nama Petani</ion-label>
        <ion-input
          type="text"
          formControlName="farmer_name"
          [(ngModel)]="farmer.farmer_name"
          placeholder="Masukkan nama"
        ></ion-input>
        <div *ngFor="let validation of errorMessages.farmer_name">
          <p
            class="error"
            *ngIf="myForm.get('farmer_name').hasError(validation.type) && (myForm.get('farmer_name').dirty || myForm.get('farmer_name').touched || submitAttempt) "
          >
            {{validation.message}}
          </p>
        </div>
      </ion-item>
      <!-- contact number -->
      <ion-item>
        <ion-label position="stacked">Nomer Telpon/WA</ion-label>
        <ion-input
          formControlName="phoneNumber"
          type="number"
          [(ngModel)]="farmer.phoneNumber"
          placeholder="Masukkan nomer telpon/WA"
        ></ion-input>
        <div *ngFor="let validation of errorMessages.phoneNumber">
          <p
            class="error"
            *ngIf="myForm.get('phoneNumber').hasError(validation.type) && (myForm.get('phoneNumber').dirty || myForm.get('phoneNumber').touched || submitAttempt) "
          >
            {{validation.message}}
          </p>
        </div>
      </ion-item>
      <!-- farmer plantation -->
      <ion-item>
        <ion-label position="stacked">Jenis tanaman</ion-label>
        <ion-textarea
          formControlName="plantation"
          [(ngModel)]="farmer.plantation"
          placeholder="Masukkan manfaat dari produk"
        ></ion-textarea>
        <div *ngFor="let validation of errorMessages.plantation">
          <p
            class="error"
            *ngIf="myForm.get('plantation').hasError(validation.type) && (myForm.get('plantation').dirty || myForm.get('plantation').touched || submitAttempt) "
          >
            {{validation.message}}
          </p>
        </div>
      </ion-item>
      <!-- farmer address -->
      <ion-item>
        <ion-label position="stacked">Alamat</ion-label>
        <ion-textarea
          formControlName="address"
          [(ngModel)]="farmer.address"
          placeholder="Masukkan kandungan pada produk"
        ></ion-textarea>
        <div *ngFor="let validation of errorMessages.address">
          <p
            class="error"
            *ngIf="myForm.get('address').hasError(validation.type) && (myForm.get('address').dirty || myForm.get('address').touched || submitAttempt) "
          >
            {{validation.message}}
          </p>
        </div>
      </ion-item>
      <div class="ion-padding">
        <ion-button expand="block" (click)="save()">Simpan data</ion-button>
      </div>
    </ion-list>
  </form>

  <div *ngIf="isFarmerUploaded" class="center ion-padding">
    <p>Unggah foto</p>
    <img
      src="{{farmer.img}}"
      style="height: 200px; width: 200px;"
      tappable
      (click)="setPhoto()"
    />
  </div>
  <div *ngIf="isFarmerUploaded" class="center ion-padding">
    <p>Unggah KTP</p>
    <img
      src="{{farmer.ktp}}"
      style="height: 204px; width: 323px;"
      tappable
      (click)="setPhotoKTP()"
    />
    <div class="ion-padding">
      <ion-button expand="block" (click)="imageUploaded()">Selesai</ion-button>
    </div>
  </div>
</ion-content>
