<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="!isProductUploaded" [formGroup]="myForm">
    <ion-list>
      <!-- product product_name -->
      <ion-item>
        <ion-label position="stacked">Nama Produk</ion-label>
        <ion-input
          type="text"
          formControlName="product_name"
          [(ngModel)]="product.product_name"
          placeholder="Masukkan nama"
        ></ion-input>
        <div *ngFor="let validation of errorMessages.product_name">
          <p
            class="error"
            *ngIf="myForm.get('product_name').hasError(validation.type) && (myForm.get('product_name').dirty || myForm.get('product_name').touched || submitAttempt) "
          >
            {{validation.message}}
          </p>
        </div>
      </ion-item>
      <!-- product category -->
      <ion-item>
        <ion-label position="stacked">Kategori Produk</ion-label>
        <ion-input
          formControlName="category"
          type="text"
          [(ngModel)]="product.category"
          placeholder="Masukkan kategori"
        ></ion-input>
        <div *ngFor="let validation of errorMessages.category">
          <p
            class="error"
            *ngIf="myForm.get('category').hasError(validation.type) && (myForm.get('category').dirty || myForm.get('category').touched || submitAttempt) "
          >
            {{validation.message}}
          </p>
        </div>
      </ion-item>
      <!-- product price -->
      <ion-item>
        <ion-label position="stacked">Harga (Rupiah)</ion-label>
        <ion-input
          formControlName="price"
          type="number"
          [(ngModel)]="product.price"
          placeholder="Masukkan harga"
        ></ion-input>
        <div *ngFor="let validation of errorMessages.price">
          <p
            class="error"
            *ngIf="myForm.get('price').hasError(validation.type) && (myForm.get('price').dirty || myForm.get('price').touched || submitAttempt) "
          >
            {{validation.message}}
          </p>
        </div>
      </ion-item>
      <!-- product price -->
      <ion-item>
        <ion-label position="stacked">Kemasan (ml/L/Kg)</ion-label>
        <ion-input
          formControlName="weight"
          type="text"
          [(ngModel)]="product.weight"
          placeholder="Masukkan berat perkemasan"
        ></ion-input>
        <div *ngFor="let validation of errorMessages.weight">
          <p
            class="error"
            *ngIf="myForm.get('weight').hasError(validation.type) && (myForm.get('weight').dirty || myForm.get('weight').touched || submitAttempt) "
          >
            {{validation.message}}
          </p>
        </div>
      </ion-item>
      <!-- product benefits -->
      <ion-item>
        <ion-label position="stacked">Manfaat produk</ion-label>
        <ion-textarea
          formControlName="benefits"
          [(ngModel)]="product.benefits"
          placeholder="Masukkan manfaat dari produk"
        ></ion-textarea>
        <div *ngFor="let validation of errorMessages.benefits">
          <p
            class="error"
            *ngIf="myForm.get('benefits').hasError(validation.type) && (myForm.get('benefits').dirty || myForm.get('benefits').touched || submitAttempt) "
          >
            {{validation.message}}
          </p>
        </div>
      </ion-item>
      <!-- product ingredients -->
      <ion-item>
        <ion-label position="stacked">Kandungan terkandung</ion-label>
        <ion-textarea
          formControlName="ingredients"
          [(ngModel)]="product.ingredients"
          placeholder="Masukkan kandungan pada produk"
        ></ion-textarea>
        <div *ngFor="let validation of errorMessages.ingredients">
          <p
            class="error"
            *ngIf="myForm.get('ingredients').hasError(validation.type) && (myForm.get('ingredients').dirty || myForm.get('ingredients').touched || submitAttempt) "
          >
            {{validation.message}}
          </p>
        </div>
      </ion-item>
      <div class="ion-padding">
        <ion-button expand="block" (click)="save()">Simpan Produk</ion-button>
      </div>
    </ion-list>
  </form>

  <div *ngIf="isProductUploaded" class="center ion-padding">
    <p>Upload gambar produk</p>
    <img
      src="{{product.img}}"
      style="height: 200px; width: 200px;"
      tappable
      (click)="setPhoto()"
    />
  </div>
</ion-content>
