<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="center ion-padding">
    <img
      src="{{user.img}}"
      style="border-radius: 100%; height: 80px; width: 80px;"
      tappable
      (click)="setPhoto()"
    />
  </div>
  <form [formGroup]="myForm">
    <ion-list lines="none">
      <ion-item>
        <ion-label position="stacked">Fullname</ion-label>
        <ion-input
          type="text"
          formControlName="name"
          [(ngModel)]="user.name"
        ></ion-input>
        <div *ngFor="let validation of errorMessages.name">
          <p
            class="error"
            *ngIf="myForm.get('name').hasError(validation.type) && (myForm.get('name').dirty || myForm.get('name').touched || submitAttempt) "
          >
            {{validation.message}}
          </p>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input
          formControlName="username"
          type="text"
          [(ngModel)]="user.username"
        ></ion-input>
        <div *ngFor="let validation of errorMessages.username">
          <p
            class="error"
            *ngIf="myForm.get('username').hasError(validation.type) && (myForm.get('username').dirty || myForm.get('username').touched || submitAttempt) "
          >
            {{validation.message}}
          </p>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Bio</ion-label>
        <ion-textarea
          formControlName="bio"
          [(ngModel)]="user.description"
        ></ion-textarea>
        <div *ngFor="let validation of errorMessages.bio">
          <p
            class="error"
            *ngIf="myForm.get('bio').hasError(validation.type) && (myForm.get('bio').dirty || myForm.get('bio').touched || submitAttempt) "
          >
            {{validation.message}}
          </p>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input
          type="text"
          formControlName="email"
          [(ngModel)]="user.email"
          disabled
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Phone number</ion-label>
        <ion-input type="text" disabled>{{user.phoneNumber}}</ion-input>
      </ion-item>
      <div class="ion-padding">
        <ion-button expand="block" (click)="save()">Save Changes</ion-button>
        &nbsp;&nbsp;
        <!-- <ion-button
          expand="block"
          fill="clear"
          color="danger"
          (click)="deleteAccount()"
          >Delete Account</ion-button
        > -->
        <ion-button
          expand="block"
          fill="clear"
          color="danger"
          (click)="logout()"
          >Logout</ion-button
        >
      </div>
    </ion-list>
  </form>
</ion-content>
