<ion-header>
  <ion-toolbar>
    <ion-title>Stock Opname</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" routerLink="/stock-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list *ngIf="listProducts && listProducts.length > 0">
    <div *ngFor="let product of listProducts">
      <ion-item (click)="detail(product.productId)">
        <div class="img-list" slot="start" *ngIf="product.img">
          <img src="{{product.img}}" />
        </div>
        <ion-label>
          <ion-text>
            <h2 *ngIf="product">{{product.product_name}}</h2>
          </ion-text>
          <ion-text>
            <p>{{product.category}}</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
