<ion-header>
  <ion-toolbar>
    <ion-title>Petani</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" routerLink="/farmers-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list *ngIf="listFarmers && listFarmers.length > 0">
    <div *ngFor="let farmers of listFarmers">
      <ion-item (click)="detail(farmers.farmerId)">
        <div class="img-list" slot="start" *ngIf="farmers.img">
          <img src="{{farmers.img}}" />
        </div>
        <ion-label>
          <ion-text>
            <h2 *ngIf="farmers">{{farmers.farmer_name}}</h2>
          </ion-text>
          <ion-text>
            <p>{{farmers.plantation}}</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
